# ─────────────────────────────────────────────────────────────
# Tarlac Tourism Inventory Supply Data System — Environment
# Copy this file to .env and fill in your values
# ─────────────────────────────────────────────────────────────

# Server
PORT=5000
NODE_ENV=development

# MongoDB
# Local:  mongodb://localhost:27017/tarlac_tourism
# Atlas:  mongodb+srv://<user>:<pass>@cluster.mongodb.net/tarlac_tourism
MONGODB_URI=mongodb+srv://guerreromacraven_db_user:Ven_Variable032704@cluster1.y393ggp.mongodb.net/?appName=Cluster1

# JWT Authentication
JWT_SECRET=Ven_Variable032704
JWT_EXPIRE=7d

# Optional: For production
# FRONTEND_URL=https://yourdomain.com
